<html>
    <head>
        <h1>Mis Amigos</h1>
    </head>

            <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Carrera</th>
                        <th>Semestre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.user.amigos">
                        <td>{{ item.firstName }}</td>
                        <td>{{ item.lastName }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.carrera }}</td>
                        <td>{{ item.semestre }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    <h1>Buscar Amigos</h1>
    <body>
        <div class="container">
            <div class="row">
                
         <nav class="navbar navbar-default">
                <div class="nav nav-justified navbar-nav">
         
                    <form class="navbar-form navbar-search" role="search">
                        <div class="input-group">
                        
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-search btn-default dropdown-toggle" data-toggle="dropdown">
                                            <select ng-model="vm.queryBy">
                                                <option value="carrera">Carrera</option>
                                                <option value="semestre">Semestre</option>
                                                <option value="firstName">Nombre</option>
                                                <option value="lastName">Apellido</option>
                                            </select>  
                                </button>
                            </div>
                
                            <input type="text" ng-model="vm.query" class="form-control" placeholder="Buscar...">
                        
                            <div class="input-group-btn">
                                <button type="button" ng-click="vm.busqueda()" class="btn btn-search btn-default">
                                Buscar
                                </button> 
                            </div>
                        </div>  
                    </form>   
                 
                </div>
            </nav>
            </div>
        </div>

        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Carrera</th>
                        <th>Semestre</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.mostrar">
                        <td>{{ item.firstName }}</td>
                        <td>{{ item.lastName  }}</td>
                        <td>{{ item.email     }}</td>
                        <td>{{ item.carrera   }}</td>
                        <td>{{ item.semestre  }}</td>
                        <td>
                            <button class="btn btn-primary" ng-click="vm.agregar(item._id, item.firstName, item.lastName, item.email, item.carrera, item.semestre)">Agregar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        
    </body>
</html>

